<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block css %}

    {% endblock css %}
    <title> {% block title %} {% endblock title %} </title>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark  bg-dark">
  {% if user.is_authenticated %}
  <a class="navbar-brand " style="font-weight: 900;"  href="{% url 'note' %}">Home</a>
  <a class="navbar-brand" style="font-weight: 100; color: gray"> User: {% block user %} {% endblock %}</a></a>

  {% else %}
   <a class="navbar-brand" href="{% url 'signup' %}">Sign up</a>
  {% endif %}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item active">
      </li>
    </ul>

      {% if user.is_authenticated %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'note' %}" method="POST">
        {% csrf_token %}
        {% if filtered == True %}
        <span class="navbar-text">
      <input type="submit" class="btn btn-border-info btn-md form-control" value="Show all" name="important" style="color:white;">  </input>
      </span>
        {% else %}
        <span class="navbar-text">
      <input type="submit" class="btn btn-border-info btn-md form-control" value="Show only important" name="important" style="color:white;"></input>
      </span>
        {% endif %}
    </form>

      <span class="navbar-text">
      <a href="{% url 'logout' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">logout</a>
      </span>
      {% else %}
     <span class="navbar-text">
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">login</a>
      </span>

    {% endif %}

    </div>
  </div>
</nav>

{% block content %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>