{% extends 'base.html' %}
{% block user %} {{username}}{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="warning">

</div>
<div class="container">
    <div class="alert-secondary">

    <form action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
        <div class="form-group">
  <label for="comment">memo:</label>
  <textarea class="form-control" rows="5" id="comment" name="memo"></textarea>
</div>

    <p> <input type="file" name="images" ></p>

<div class="checkbox">
  <label><input type="checkbox" name="important" value="True">important</label>
</div>

     <input  type="submit" class="btn btn-success btn-lg btn-block" >
</form>
</div>
</div>


{% endblock content %}